extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="torre eifel", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus tortor eget ex faucibus, vel aliquet dolor pharetra. Suspendisse finibus interdum erat eget condimentum. Etiam vulputate malesuada purus, quis ultrices mi sagittis id. Donec ut rhoncus nisl. Donec a dolor erat. Mauris ultricies, nibh id viverra suscipit, justo felis posuere felis, id varius elit metus ut ante. Mauris hendrerit nibh ac pharetra viverra. Vivamus vitae sem non nibh ultricies imperdiet
                
                

                p Sed id sapien tristique, finibus mauris ac, vehicula lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In hac habitasse platea dictumst. Aenean tristique est tellus, eu tristique metus venenatis et. Phasellus aliquam egestas congue. Maecenas efficitur in nisl in pellentesque. Sed mauris felis, pulvinar sit amet auctor vitae, dapibus a odio. Nullam sed risus eget mi scelerisque aliquam. Nullam pharetra massa eu pellentesque vulputate. Quisque rhoncus ut sem tincidunt tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend at sem vitae rutrum.

                p Cras non tortor hendrerit, commodo nunc eu, scelerisque libero. Etiam mollis erat vel lorem vehicula, sit amet laoreet nunc tristique. Proin volutpat, sem in mollis fermentum, elit tellus iaculis dui, a malesuada lacus lectus quis mauris. Etiam consectetur suscipit augue. Duis tincidunt sollicitudin tortor nec commodo. Quisque vel dolor justo. Nunc vehicula sodales est quis ultricies. Nam congue interdum libero, sed faucibus enim scelerisque congue. Quisque sed nulla metus. Proin at odio ac urna interdum convallis vitae a massa. Donec mauris nibh, lobortis at tristique non, porta nec odio. Morbi tellus ante, posuere in leo a, accumsan lobortis turpis. Curabitur a tempor turpis. Vivamus dignissim orci tortor, at rutrum risus faucibus eu.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Donec mauris nibh, lobortis at tristique non, porta nec odio. Morbi tellus ante, posuere in leo a, accumsan lobortis turpis. Curabitur a tempor turpis. Vivamus dignissim orci tortor, at rutrum risus faucibus eu.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Donec mauris nibh, lobortis at tristique non, porta nec odio. Morbi tellus ante, posuere in leo a, accumsan lobortis turpis. Curabitur a tempor turpis. Vivamus dignissim orci tortor, at rutrum risus faucibus eu.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios
                    p Donec mauris nibh, lobortis at tristique non, porta nec odio. Morbi tellus ante, posuere in leo a, accumsan lobortis turpis. Curabitur a tempor turpis. Vivamus dignissim orci tortor, at rutrum risus faucibus eu.